<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/reg_view.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="../../static/js/reg.js" defer></script>
</head>

<body>
<header class="d-flex align-items-center justify-content-between">
        <div class="logo"> Логотип
        </div>
        <div class="authorisation">
            <a href="" class="logging">Вход</a>
        </div>
    </header>

<div class="picture"></div>

<main class="container">
    <section id="start" class="current">
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <div id="role" class="d-flex flex-column align-items-center justify-content-center">
                        <h2 class="align-self-start">Кто вы?</h2>
                        <button class="teacher">Я учитель</button>
                        <button class="student">Я ученик</button>
                        <a href="" class="back">&larr; Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
        

    <section id="teacher" class="reg right">
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <div id="role" class="d-flex flex-column align-items-center justify-content-center">
                        <h2 class="align-self-start">Регистрация</h2>
                        <input type="email" name="" id="" placeholder="e-mail адрес">
                        <input type="password" name="" id="" placeholder="пароль">
                        <input type="text" name="" placeholder="Имя">
                        <input type="text" name="" placeholder="Фамилия">
                        <button class="continue">Продолжить &rarr;</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="student" class="reg right">
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <div id="role" class="d-flex flex-column align-items-center justify-content-center">
                        <h2 class="align-self-start">Регистрация</h2>
                        <input type="email" name="" id="" placeholder="e-mail адрес">
                        <input type="password" name="" id="" placeholder="пароль">
                        <input type="text" name="" placeholder="Имя">
                        <input type="text" name="" placeholder="Фамилия">
                        <input type="text" name="" id="" placeholder="id группы, выданное преподавателем">
                        <button class="continue">Продолжить &rarr;</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="choice" class="right">
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <div id="role" class="d-flex flex-column justify-content-center">
                        <h2 class="align-self-start">Регистрация</h2>
                        <h5>Выберите учебное заведение:</h5>
                        <select name="" id="school">
                            <option value="210">МБОУ СОШ № 212</option>
                            <option value="e_l_n">Инженерный лицей НГТУ</option>
                            <option value="210">МБОУ СОШ № 210</option>
                        </select>
                        <h5>Выберите язык обучения:</h5>
                        <select name="" id="language">
                            <option value="eng">English</option>
                            <option value="rus">Русский</option>
                            <option value="fr">Français</option>
                        </select>
                        <a href="" class="back align-self-center">Завершить</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
</main>
<footer></footer> 
</body>

</html>